{% extends 'base.html.twig' %}

{% block body %}

{% for program in programs %}
<div class="media">
    <div class="media-body">
        <h1 class="mt-0">{{ program.id }}.<a
                href="{{ path("program_show", { id: program.id }) }}">{{ program.title }}</a></h1>
        <p>{{ program.summary }}</p>
    </div>
</div>
{% else %}
<li>Aucune série trouvée</li>
{% endfor %}

{% endblock %}