{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<h1>Bienvenue sur Wild Series</h1>
<img src="{{ asset ('build/tel.jpg') }}" alt="tel"/>
{% endblock %}
