{% extends "base.html.twig" %}

{% block title %}New Program{% endblock %}

{% block body %}
<div class="container-fluid mt-4">
    <h1>Ajouter un nouveau programme</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type='submit' value='Add a new program'>
    {{ form_end(form) }}
</div>
{% endblock %}